body {
  font-family: 'Roboto', sans-serif;
}

.main-heading {
  color: red;
  border: 4px solid red;
  font-size: 50px;
  text-align: center;
}

.another-heading {
  color: blueviolet;
  border: 1px dotted brown ;
  text-align: right;
}